.header {
    display: top;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #888580; */
    height: 100vh;
    color: rgb(0, 0, 0);
    height: 100vh;
    top: 0px;
  }
  
  
  .grid-container{
    margin-left: 300px;
    margin-right: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9da2a7;
    border: 1px solid #000000;
    box-shadow: 2px 2px 6px #000000;
    border-radius: 30px;
    padding: 1rem;
    max-width: 150px;
    max-height: 200;
  }
  
